<h1>Supplier Registration PAGE</h1>
<div class="row">
  <div class="col-md-2">
    <label id="lblSymbol">Symbol</label>
    <input type="text" class="form-control" id="txtSymbol" />
  </div>
  <div class="col-md-2">
    <label id="lblstockName">Stock Name</label>
    <input type="text" class="form-control" id="txtstockName" />
  </div>
  <div class="col-md-2">
    <label id="lblPrice">Price</label>
    <input type="text" class="form-control" id="txtPrice" />
  </div>
  <div class="col-md-2">
    <label id="lblLastDivident">Last Divident</label>
    <input type="text" class="form-control" id="txtLastDivident" />
  </div>
  <div class="col-md-2">
    <label id="lblIndustry">Industry</label>
    <input type="text" class="form-control" id="txtIndustry" />
  </div>
  <div class="col-md-2">
    <label id="lblMarketCapital">Market Capital</label>
    <input type="text" class="form-control" id="txtMarketCapital" />
  </div>
</div>
<div class="row">
  <div class="col-md-2>">
    <button class="btn btn-primary" (click)="saveStock()">Submit</button>
  </div>
</div>